.section {
  padding: 10px;
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
}

.titleGroup {
  display: flex;
  flex-direction: row;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.checkbox .label {
  color: #fff;
  font-size: small;
  margin-left: 3px;
}
.checkbox svg {
  padding-left: 5px;
  height: 16px;
  width: 16px;
}
